body {
    margin: 0;
    background-image: url(https://image.freepik.com/free-photo/back-school-blank-note-paper-with-pencil-background_131286-47.jpg);
    background-size: cover;
}

#container {
    text-align: center;
}

#message {
    margin: 20px 0px 40px 0;
}

#gameBoard {
    background-color: black;
    margin: auto;
    display: none;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 2.5vh;
    align-content: center;
    height: calc(85vh - 220px);
    width: calc(85vh - 220px);
}

.gridBox{
    cursor: pointer;
    justify-content: center;
    background-color: white;
    text-align: center;
    font-size: calc(15vh - 30px);
    height: calc((80vh - 220px)/3);
    line-height: calc((80vh - 220px)/3);
}

.gridBox:hover{
    background-color: rgba(255, 255, 255, 0.705);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0, 0.2);
}

#modal-game-end {
    display: none;
}

#modal-endgame-content {
    justify-content: center;
    align-content: center;
}

.modal-content {
    position: relative;
    text-align: center;
    padding: 5px;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 360px;
    background: whitesmoke;
    border-radius: 10px;
    color: black;
}

#btnReset {
    background-color: rgb(255, 91, 91);
}

#btnStart {
    background-color: darkgreen;
}

#btnPlayAgain {
    background-color: darkgreen;
}

label {
    font-size: 2rem;
}

button {
    cursor: pointer;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

button:hover{
    opacity:0.75;
}

input {
    font-size: 1rem;
}

#label-input-p1 {
    color: red;
}

#divReset {
    margin: 15px 0;
}

#message {
    font-size: 2em;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

#winner-text {
    word-wrap: break-word;
    font-size: 65px;
}